{% extends 'core/base.html' %}

{% block title %}List{% endblock title %}

{% block content %}
<a href="{% url 'core:todo_create' %}">Create New Todo</a>
<h1>Your TODO's</h1>
<table border="2">
    {% for todo in todo_list %}
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Due Date</th>
            <th>Created At</th>
            <th>Last Modified At</th>
            <th>View</th>
            <th>Update</th>
            <th>Update Complete Status</th>
        </tr>
        <tr>
            <td>{{ todo.title }}</td>
            <td>{{ todo.description }}</td>
            <td>
                {% if todo.is_completed %}
                    ✅
                {% else %}
                    🕓
                {% endif %}
            </td>
            <td>
                {% if todo.due_date %} 
                    {{ todo.due_date|date:"DATETIME_FORMAT" }}
                {% else %}
                    N/A
                {% endif %}
            </td>
            <td>{{ todo.created_at|date:"DATETIME_FORMAT" }}</td>
            <td>{{ todo.updated_at|date:"DATETIME_FORMAT" }}</td>
            <td><a href="{% url 'core:todo_detail' todo.id %}">View Detail</a></td>
            <td><a href="{% url 'core:todo_update' todo.id %}">Update Detail</a></td>
            <td>
                <form action="{% url 'core:todo_update_completed' todo.id %}" method="post">
                    {% csrf_token %}
                    {% if todo.is_completed %}
                        <input type="checkbox" name="completed" id="id_completed" hidden>
                        <button>Mark Complete</button>
                    {% else %}
                        <input type="checkbox" name="completed" id="id_completed" checked hidden>
                        <button>Mark Uncomplete</button>
                    {% endif %}
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock content %}