{% extends 'core/_base.html' %}

{% block title %}Detail{% endblock title %}

{% block content %}
<a href="{% url 'core:todo_list' %}">See Todo List</a>
<h1>Title: {{ todo.title }}</h1>
<p>Description: {{ todo.description }}</p>
<p>Status: 
    {% if todo.is_completed %}
    ✅
    {% else %}
    🕓
    {% endif %}
</p>
<p>Due Date: 
    {% if todo.due_date %} 
        {{ todo.due_date|date:"DATETIME_FORMAT" }}
    {% else %}
        N/A
    {% endif %}
</p>
<p>Created At: {{ todo.created_at|date:"DATETIME_FORMAT" }}</p>
<p>Last Modified At: {{ todo.updated_at|date:"DATETIME_FORMAT" }}</p>
{% endblock content %}